<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Character Encoding -->
    <meta charset="utf-8">
    <!-- Meta for Microsoft Edge Browser -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- @media Breakpoints -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engines Algorithms -->
    <meta name="author" content="Julio Pochet Edmead">
    <meta name="description" content="This is the Lab: Flask Adventure Game for the class CSET-160: Web Development II "/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    -->
    <title>{% block title %}{% endblock %} - Escape The Curse Of Chucky</title>
    </head>
    <nav>
      <h1>Escape The Curse Of Chucky</h1>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('game.profile') }}">Edit Profile</a>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
    </section>
