<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Character Encoding -->
    <meta charset="utf-8">
    <!-- Meta for Microsoft Edge Browser -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- @media Breakpoints -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engines Algorithms -->
    <meta name="author" content="Julio Pochet Edmead">
    <meta name="description" content="This is the Lab: Flask Adventure Game for the class CSET-160: Web Development II "/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Escape The Curse Of Chucky</title>
    </head>

    <header class="header">
    <nav>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('game.profile') }}">Edit Profile</a>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    {% block header %}{% endblock %}
    </header>

    <main class="main">
    {% block content %}{% endblock %}
    </main>

        <!-- FOOTER -->
    <footer class="footer">
      <nav class="down-nav">
        <ul>
          <li class="btn"><a href="https://www.facebook.com/julio.pochetedmead" target="_blank"><img src="images/icons/Facebook.png" alt="Facebook"></a></li>
          <li class="btn"><a href="https://github.com/jpochetedmead" target="_blank"><img src="images/icons/Github.png" alt="Github"></a></li>
          <li class="btn"><a href="https://www.instagram.com/julio.pochet/" target="_blank"><img src="images/icons/Instagram.png" alt="Instagram"></a></li>
       </ul>
      </nav>
      <marquee><span class="down-span">©Copyright &nbsp;<time datetime='2020-03-25 05:25-0800'>2020</time>&nbsp;by Julio Pochet Edmead. All rights reserved.</span></marquee>
    </footer>
</body>
</html>
