{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}How to play Escape The Curse Of Chucky{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post" >
      <header>
        <a href="/game/menu">Back to Menu</a>
        <div>
        </div>
      </header>
      <h2>Here is how to play Escape The Curse Of Chucky</h2>
      <hr>
      <p>Read the text and type/select your answer to the question then you will be sent down a path.</p>
      <p>There is not "right answers" because anything could happen. Chuky is very unpredictable.</p>
    </article>
{% endblock %}
