{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home Page{% endblock %} - 'Escape The Curse Of Chucky' Adventure Game.<h1>
{% endblock %}

{% block content %}
<section>
  <br>
  {{ message }}

  <p>In this game your goal is to escape from Chucky, or at least survive as long as you can. Have fun!</p>

  <br>

  <form method="post">
    <label for="user_name">What is your name?</label>
    <input type="text" name="user_name" id="user_name" pattern="[a-zA-Z]*" minlength="3" required/>

    <input type="submit" value="Submit"/>
  </form>

  {% if error %}
    <p class="warning">{{ error }}</p>
  {% endif %}

  {% if name and not error %}
    <p>Thanks! <a href="{{ url_for('engine.menu', name=name) }}">Go to the Game Menu</a></p>
  {% endif %}
</section>
{% endblock %}
