{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Game Menu{% endblock %} - Escape The Curse Of Chucky</h1>
{% endblock %}

{% block content %}
  <article>
    <br>
    <p>{{ person }}, please choose a menu option to proceed:</p>
    <br>
    <hr>
    <br>
    <ul>
    <li><a href="{{ url_for('engine.index') }}">Back to Home Page</a></li>
    <li><a href="{{ url_for('engine.guide', name='name') }}">How to Play</a></li>
    <li><a href="{{ url_for('engine.room', name='name') }}">Start Game</a></li>
    </ul>
    <br>
    <hr>
  </article>
{% endblock %}
