{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}First Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post" >

      <header>
        <a class='action' href="/game/menu">Exit Game</a>
        <div>
          <h1>Room 1</h1>
        </div>
      </header>

      <p>This is Room 1</p>

      <form method="post">
        <label for="room1Reply">Answer for question</label><!--TO DO -->
        <input name="answer" id="room1" required><!--make classes for the test room to
          return the value and move to the next room so game can play-->
        <input type="submit" value="Answer">
      </form>

    </article>
{% endblock %}
