{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Fourth Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post" >
    <hr>
    <br>
    <p><a href="{{ url_for('engine.menu', name='name') }}">Exit Game</a></p>
    <br>
    <hr>

    <h2>{{ room['title'] }}</h2>
    <p>{{ room['intro'] }}</p>

    <form method="post">
      <label for="action">What do you do?</label>
      <input type="text" name="action" id="action" maxlength="1" required/>
      <input type="submit" value="Submit">
    </form>
    <br>
    <hr>
  </article>
{% endblock %}
