{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Fifth Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post" >
      <hr>
      <header>
        <br>
        <p><a href="{{ url_for('engine.menu', name='name') }}">Exit Game</a></p>
        <br>
        <hr>
        <br>
        <div>
          <h1>Fifth Room</h1>
        </div>
      </header>

      <p>{{ person }} You are in Room 5</p>

      <form method="post">
        <label for="room5Reply">Answer for question</label><!--TO DO -->
        <input name="answer" id="room5" required><!--make classes for the test room1 to
          return the value and move to the next room1 so game can play-->
        <input type="submit" value="Answer">
      </form>
      <br>
      <hr>
    </article>
{% endblock %}
